.LeftMenu{
    width: 280px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34,34,34,0.6);
    backdrop-filter: blur(10px);
    padding: 25px 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.LeftMenu .logoContainer{
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.LeftMenu .logoContainer i{
    font-size: 30px;
}

.LeftMenu .logoContainer i:nth-child(3){
    font-size: 20px !important;   
}

.LeftMenu .logoContainer h2 {
    font-size: 20px;
}
.searchBox{
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 20px;
   /* background: #f1f1f1; */
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);

}
.searchBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0,0,0,0.5);
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;

}

.searchBox .searchIcon{
    position: absolute;
    color: #848484;
    top:0;
    left: 0; 
    width: 45px;
    height: 45px;
    background-color: #555;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    margin-right:0px;

} 

.MenuContainer{
    margin: 15px 0;

}

.MenuContainer .title, .playListContainer .nameContainer {
    color: #848484;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.MenuContainer ul {
    width: 100%;
    padding: 0;
}

.MenuContainer ul li {
    list-style: none;
    margin: 5px 0;
    width: 100%;
    padding: 5px 0px;
    position: relative;
}

.MenuContainer ul li a {
    text-decoration: none;
    color: #848484;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.MenuContainer ul li a i {
    font-size: 18px;
    margin-right: 15px;


}

.MenuContainer ul li:before {
    position:absolute;
    content: "";
    top: 0;
    left: -15px;
    width:  0px; /* hover vao thi thanh moi hien len */
    height: 100%;
    background: #49e12e;
    border-radius: 5px;
}

.MenuContainer ul li:hover::before,
.MenuContainer ul li.active::before {
    width: 5px;
    transition: 0.3s;

}

.MenuContainer ul li:hover a,
.MenuContainer ul li.active a {
    transition: 0.3s;
    color: #f1f1f1;
}

.playListContainer{
    cursor: pointer;
    margin: 15px 0;

}

.playListContainer .nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #848484;
    margin-bottom: 10px;

}

.playListContainer .nameContainer p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;

}
.playListContainer .nameContainer i{
    cursor: pointer;
    color: #f1f1f1;
} 

.playListContainer .playListScroll {
    height: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

}

.playListContainer .playListScroll .playlist{
    display: flex;
    color: #848484;
    align-items: center;
    justify-content: space-between;
}
